body {
background-color: #F8F8F8;
}

#wbdv-main-heading {
    margin:0;
    color:white;
    background-color: #000000;
    font-size: 10px;
    font-family: Times;
    padding-left: 10px;
                     }

  #wbdv-sub-heading {
     color:white;
     background-color: #000000;
     font-size: 10px;
     margin: 0;
     padding-left: 10px;
                      }

                      .wbdv-field {
                        margin: 5px 0 10px 0;
                        }
